@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
}

 

.select-row {
	color: red;
}
.stripe {
	background-color: #c5c8cb !important;
}
@layer components {
	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
#app {
	--app-text-color: #000;
	--app-background: #fff;
	--el-text-color-primary: #000;
	--app-header-background: #fd544e;
	--app-svg-color: #fff;

	color: var(--app-text-color);
	background-color: var(--app-background);
}

[darkMode] {
	--el-dark-background-primary: #2b2b2b;
	--app-text-color: #fff !important;
	--app-background: var(--el-dark-background-primary) !important;
	--app-header-background: #000 !important;

	--el-text-color-primary: #fff !important;
	--el-fill-color-blank: var(--el-dark-background-primary) !important;
	--el-text-color-regular: #fff !important;

	--app-svg-color: #fff;
}
.el-table {
	--el-table-tr-bg-color: var(--el-dark-background-primary) !important;
	--el-table-text-color: var(--app-text-color-regular) !important;
}

.app-header {
	background: var(--app-header-background);
}
svg {
	color: var(--app-text-color);
}
.app-header svg {
	color: #fff;
}
