@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 5px;
	display: block;
}

*::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
}

.select-row {
	color: red;
}
.stripe {
	background-color: #c5c8cb !important;
}
@layer components {
	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
html {
	--app-header-background-color: #fd544e !important;
}
html.dark {
	background-color: #1c1c1c !important;
	--app-header-background-color: #1c1c1c !important;
}
